<div class="row g-4">
  <div class="col-md-6 col-lg-3 wow fadeIn" data-wow-delay="0.1s">
    <div class="product-item text-center border h-100 p-4">
      <img class="product-image img-fluid mb-4" src="<%= product.images %>" alt="<%= product.name %>">
      <div class="mb-2">
        <% if (product.categories && product.categories.length> 0) { %>
        <% product.categories.forEach(function(category) { %>
        <span class="badge bg-primary">
          <%= category.name %>
        </span>
        <% }); %>
        <% } else { %>
        <span>No categories</span>
        <% } %>
      </div>
      <a href="" class="h6 d-inline-block mb-2"><%= product.name %></a>
      <h5 class="text-primary mb-3">₱<%= product.price %></h5>
      <a href="/addtocart" class="btn btn-outline-primary px-3">Add To Cart</a>
    </div>
  </div>