<%- include('partials/start') %>
<%- include('partials/nav') %>

<section id="team" class="team section">
  <div class="container mt-5"></div>
  <div class="container section-title">
    <h2>Edit Product</h2>
    <p>Update product information</p>
  </div>

  <div class="container">
    <div class="col-lg-12"></div>
    <form action="/admin/products/edit/<%- product.id %>" method="POST" enctype="multipart/form-data">

      <!-- Error Messages -->
      <% if (errors && errors.length> 0) { %>
      <div class="alert alert-danger">
        <ul>
          <% errors.forEach(function(error) { %>
          <li>
            <%= error.msg %>
          </li>
          <% }) %>
        </ul>
      </div>
      <% } %>

      <!-- Product Name Field -->
      <div class="row row justify-content-center gy-4 mt-3">
        <div class="col-md-6 text-start">
          <label for="productName" class="form-label">Product Name:</label>
          <input type="text" name="productName" value="<%- product.name %>" id="productName" class="form-control" placeholder="Enter product name" required><br><br>
        </div>
      </div>

      <!-- Product Price Field -->
      <div class="row row justify-content-center gy-4">
        <div class="col-md-6 text-start">
          <label for="price" class="form-label">Price (₱):</label>
          <input type="number" name="price" id="price" class="form-control" placeholder="Enter price" min="1" value="<%- product.price %>" required><br><br>
        </div>
      </div>

      <!-- Product Description Field -->
      <div class="row row justify-content-center gy-4">
        <div class="col-md-6 text-start">
          <label for="description" class="form-label">Description:</label>
          <textarea name="description" id="description" class="form-control" placeholder="Enter product description" rows="4" required><%- product.description %></textarea><br><br>
        </div>
      </div>

      <div><input type="hidden" name="oldImage" value="<%= product.images %>"></div>
      <!-- Upload Picture Field -->
      <div class="row row justify-content-center gy-4">
        <div class="col-md-6 text-start">
          <label for="image" class="form-label">Upload image:</label>
          <div class="input-group input-group-lg mb-3">
            <input type="file" name="image" id="image" accept="image/*" class="form-control"><br><br>
          </div>
        </div>
      </div>

      <!-- Available Categories Checkboxes -->
      <div class="row row justify-content-center gy-4">
        <div class="col-md-6 text-start">
          <label for="categories" class="form-label">Select Categories:</label><br>
          <% categories.forEach(function(category) { %>
          <div class="form-check">
            <!-- Check if the category is associated with the product -->
            <input class="form-check-input" type="checkbox" name="categories" value="<%= category.id %>" id="category_<%= category.id %>" <% if (product.categories.some(prodCat=> prodCat.id ===
                      category.id)) { %> checked <% } %>>
            <label class="form-check-label" for="category_<%= category.id %>">
              <%= category.name %>
            </label>
          </div>
          <% }); %>
        </div>
      </div>

      <!-- Custom Category Textbox -->
      <div class="row row justify-content-center gy-4 mb-3">
        <div class="col-md-6 text-start">
          <label for="customCategory" class="form-label">Add Custom Category:</label>
          <input type="text" name="customCategory" id="customCategory" class="form-control" placeholder="Enter custom category">
        </div>
      </div>

      <!-- Submit Button -->
      <div class="row row justify-content-center gy-4 mt-3">
        <div class="col-md-6 text-center">
          <button type="submit" class="btn btn-primary">Update Product</button>
        </div>
      </div>
    </form>
  </div>
  </div>

</section>

<%- include('partials/end') %>