<%- include('../partials/start') %>
<%- include('../partials/nav') %>


<main class="custom-padding">
  <!-- Artist Section -->
  <section id="team" class="team section">

    <div class="container">
      <div class="container section-title">
        <h2>Forgot password?</h2>
        <p>Send reset password link to you email</p>
      </div>
    </div>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-6">
          <form action="/resetpassword" method="GET">
            <!-- Email -->
            <div class="mb-3">
              <label for="email" class="form-label">Email address</label>
              <input id="email" name="email" type="email" class="form-control" autocomplete="email" required value="<%= formData ? formData.email : '' %>">
            </div>

            <!-- Error Messages -->
            <% if (errors && errors.length > 0) { %>
            <div class="errors text-danger">
              <ul>
                <% errors.forEach(function(error) { %>
                <li>
                  <%= error.msg %>
                </li>
                <% }) %>
              </ul>
            </div>
            <% } %>

            <!-- Send Button -->
            <div class="d-grid">
              <button type="submit" class="btn btn-primary">Send link</button>
            </div>
          </form>

          <p class="mt-4 text-center text-muted">
            <a href="/signin" class="text-decoration-none">Back</a>
          </p>
        </div>
      </div>
    </div>
  </section>

</main>


</main>
<%- include('../partials/end') %>